@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap'); 
 body {
   background: #ccc;
 }
  
  h1 {
    font-size: 3rem;
    font-family: 'Bangers', cursive;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #333333;
 
    text-align: center;
  }
  
  .gallery  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
  }
  
  .gallery  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }